* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #ffdecb;
    color: #4d4d4d;
}

#input1 {
    background: #ffdecb;
    border: 0px;
}

.icons1 i {
    margin: 6px;
}

.icons1 i:hover {
    transform: scale(1.5);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #FFBF9B;
    color: #4d4d4d;
}

#buton2 {
    display: flex;
}

#buton2 button {
    display: flex;
    margin: 4px;
    padding: 4px;
    border-radius: 30%;
    background: none;
    border: 2px solid #4d4d4d;
    /* Green */
    color: #4d4d4d;
    justify-content: center;
    align-items: center;
}

#buton2 button:hover {
    background: #ffdecb;
    cursor: pointer;

}

#input2 {
    display: flex;
}

#input2 input {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    padding: 4px;
}

#input2 i {
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 4px;
}

#input2 i:hover {
    background: #d9d9d9;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    /* padding: 16px; */
    background: #F9F5EB;
}

#h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px;
    color: #4d4d4d;
}

#row1 {
    display: flex;
    justify-content: space-around;
}

.p1 {
    display: flex;
    flex-direction: column;
    /* border-radius: 10%; */
    /* text-align: center; */
    /* justify-content: center; */
    text-align: start;

}

.img {
    display: flex;
    text-align: center;
    justify-content: center;
    background: white;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    width: 170px;
    /* height: 120px; */
}

.img img {
    display: flex;
    /* padding-top: 36px; */
    width: 90px;
    height: 90px;
}

.consP i {
    margin: 4px;
}

.p1Text {
    background: #ffdecb;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    display: flex;
    /* justify-content: start; */
    flex-direction: column;
    width: 170px;
    /* height: 100%; */
    margin-bottom: 16px;
}

.p1Text h4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

#row2 {
    display: flex;
    justify-content: space-around;
}

#row3 {
    display: flex;
    justify-content: space-around;
}

#row4 {
    display: flex;
    justify-content: space-around;
}

#row5 {
    display: flex;
    justify-content: space-around;
}

.addCount {
    display: flex;
    justify-content: space-around;
}

.addCount div {
    display: flex;
    margin: 6px;
    padding: 4px;
}

.addCount>div:hover {}

.addCo {
    background: #FFBF9B;
    border-radius: 50%;
    padding: 4px;
}

.addCo:hover {
    background: #F9F5EB;
    border-radius: 50%;
    cursor: pointer;

}

.add1:hover {
    background: #F9F5EB;
    border-radius: 50%;
    cursor: pointer;

}

.minus1:hover {
    background: #F9F5EB;
    border-radius: 50%;
    cursor: pointer;
}

.iconsP {
    padding: 6px;
}

.iconsP i:hover {
    background: #F9F5EB;
    border-radius: 50%;
    cursor: pointer;
}

footer {
    display: flex;
    background: rgb(45, 45, 45);
    color: #F9F5EB;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    margin: 8px;
}

.phone {
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
}

#nav {
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 80px;
    background: #F9F5EB;
}

#nav #h2 {
    display: flex;
    margin: 0 auto;
}

#main2 {
    width: 50%;
    margin: 0 auto;
    height: 50%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

#img2 {
    display: flex;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 50%;
}

#textID {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px;
}

#container {
    background: #F9F5EB;
    height: 10%;
}

.form {
    display: flex;
    flex-direction: column;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}